<h5>New Widget</h5>
<label>
Title:{{input type="text" value=title required=true}}
</label>
<ul id="slides">
  {{#each slide in slidesController}}
  <li class="item" data-id="{{unbound slide.id}}">
      <div>{{slide.id}}</div>
      <div>
        <label>
        Image:
        {{input value=slide.img}}
        </label>
      </div>
      <div>
        <label>
        Text:
        text:{{input value=slide.text}}
        </label>
      </div>
      <div>sort_order: {{slide.sort_order}}</div>
    </li>
  {{/each}}
</ul>
<div>
  <button {{action 'addSlide' target=view}}>Add slide</button>
</div>
<div>
  <button {{action 'save'}}>Save</button>
</div>
